# Ignore everything
*

# Except:
!/.gitignore

!*.go
!*.go.tmpl
!go.sum
!go.mod

!README.md
!LICENSE
!Makefile

!.golangci.yaml
!.github/workflows/*.yaml

# Include subdirectories
!*/

# Except local
local/