name: Test and coverage

on:
  push

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Set up Go
        uses: actions/setup-go@v6

      - name: Install dependencies
        run: go mod download

      - name: Run tests
        run: go test -cover -coverpkg=./... ./... -coverprofile=coverage.txt
        working-directory: ./pkg

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
